.Rproj.user
.Rhistory
.RData
.Ruserdata
Capstone Combined Data Collection Sheets - Summer 2024.xlsx
data-exploration.pdf
.DS_Store
table1.png
Rplot01.png
Rplot.png
Rplot02.png
regression-analysis.pdf
